.toolbar-item{
    margin-left: 50px;
    padding: 5px;
    border-radius: 5px;
}

.toolbar-item:hover{
    background-color: darkblue;
    cursor: pointer;
}

.hovered-toolbar-item{
    background-color: darkblue;
    cursor: pointer;
}