.section-grid {

}

.profile-photo {
    align-self: baseline;
    height: 70%;
    border-radius: 40px;
    border-color: white;
    border-style: solid;
}

.text {
    align-self: baseline;
    font-size: 18px;
    width: 70%;
    margin-left: 0;
    color: white;
}

.right-text {
    margin-top: 10%;
    align-self: baseline;
    display: flex;
    justify-content: baseline;
}

.generic-card {
    height: 40vh;
    width: 60vh;
    background-color: rgb(83, 82, 82);
    color: white;
}

.div-footer-btn {
    position: absolute;
    bottom: 0;
}

.tile{
    margin-top: 0px;
    margin-bottom: 0px;
}

.title-div{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.title-div>H1{
    color: white;
}