@page
@model Personal_Website.Pages.ExperienceModel
@{
}
<h1 class="text-center">Experiência</h1>

<div class="album py-5 bg-white">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"  src=".\img\ies2_logo.png"/>
                    <br />
                    <p class="text-center"><strong>Estagiário em Quality Assurance</strong></p>
                    <small class="text-muted text-center">Agosto 2020 - Dezembro 2020</small>
                    <div class="card-body">
                        <p class="card-text">A IES2 é uma empresa especializada em educação a distância. Trabalhei em projetos para clientes e também na plataforma da empresa. Atuei efetuando testes manuais e desenvolvendo testes automatizados utilizando a linguagem de programação Python e framework Selenium</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Projetos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src=".\img\logo_kumulus.png" />

                    <br />
                    <p class="text-center"><strong>Estagiário em Desenvolvimento de Software</strong></p>
                    <small class="text-muted text-center">Janeiro 2021 - Janeiro 2022</small>

                    <div class="card-body">
                        <p class="card-text">A Kumulus é uma empresa especializada em implementação de serviços em Cloud, mas também cria projetos de software por demanda, atuei em diversos projetos desse tipo. Na Kumulus tive a oportunidade de atuar com diversas tecnologias como: Python, NodeJS, Java, .NET e Azure.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Projetos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src=".\img\logo_shipay.png">
                    <br />
                    <p class="text-center"><strong>Desenvolvedor Backend Júnior</strong></p>
                    <small class="text-muted text-center">Fevereiro 2022 - Junho 2023</small>
                    <div class="card-body">
                        <p class="card-text">A Shipay é uma startup que possui um produto inovador que facilita os meios de pagamento através do pix. Durante o meu período na Shipay pude trabalhar na equipe de conciliação pix, utilizando tecnologias como: Python, Flask, PostgreSql, MongoDB, GCP, Kafka, Redis e Apache Airflow. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Projetos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src=".\img\logo_kim.png" />
                    <br />
                    <p class="text-center"><strong>Analista de Desenvolvimento de Sistemas</strong></p>
                    <small class="text-muted text-center">Junho 2023 - Novembro 2023</small>
                    <div class="card-body">
                        <p class="card-text">A Kantar Ibope Media é lider de mercado no setor de audiencia. No meu período trabalhando nesta empresa pude trabalhar em projetos de audiência de Rádio e TV, utilizando tecnologias como: .NET, VB.NET, ASP.NET, Azure, SQL SERVER.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Projetos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>