@page
@model IndexModel
@{
    ViewData["Title"] = "Víctor Pereira";
}
<br /></br>
<div class="text-center">
    <h3>Sobre mim</h3><br>
    <div class="row">
        <div class="col-sm-3" >
            <img src=".\312298065_224736429980809_8573983562758719275_n.jpg" class="img-responsive" style="width:100%;border-color: black;border-style: solid; border-radius:5px" alt="Image">
        </div>
        <div class="col-sm" style="width: 40%">
            <p>Sou o Víctor Pereira, nascido em Campinas, interior de São Paulo. Tenho 23 anos e trabalho com programação há 3 anos, já trabalhei com diversas tecnologias
                como: Java, Python, .NET, JavaScript. Trabalhei em grandes projetos para clentes dos setores financeiros, educaionais e de análise de audiência. 
            </p>
            <p>
                Nesses anos de experiência, tive a oportunidade de trabalhar em várias equipes diferentes, utilizando metodologias ágeis de desenvolvimento de software como SCRUM. Também implementei soluções
                hospedadas em provedores cloud como Azure e GCP.
            </p>    
            <p>
                Me formei no curso superior de Tecnologia em Análise e desenvolvimento de sistemas pela Universidade Estadual de Campinas (UNICAMP) a qual teve uma
                grande influência no profissional que me tornei hoje. 
            </p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="text-center">
    <b>Onde me Econtrar</b><br />
    <a href="https://www.linkedin.com/in/Lnvictor/" class="btn btn-primary" role="button">Linkedin</a>
    <a href="https://www.github.com/lnvictor" class="btn btn-dark" role="button">Github</a>
</div>

