@page
@model Personal_Website.Pages.PersonalProjectsModel
@{
    <h1 class="text-center">Projetos Pessoais</h1>

    <div class="album py-5 bg-white">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src=".\img\geld.jpg" />
                        <br />
                        <p class="text-center"><strong>Controlador de Finanças pessoais</strong></p>
                        <div class="card-body">
                            <p class="card-text">Inserir texto explicando projeto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://www.github.com/Lnvictor/geld" class="btn btn-outline-secondary" role="button">Repositório do Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src=".\img\logo_kumulus.png" />

                        <br />
                        <p class="text-center"><strong>Compactador de arquivos</strong></p>

                        <div class="card-body">
                            <p class="card-text">Inserir texto eplicativa</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://github.com/Lnvictor/dummy-compressor" class="btn btn-outline-secondary" role="button">Repositório do Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src=".\img\logo_shipay.png">
                        <br />
                        <p class="text-center"><strong>Plataforma de EAD</strong></p>
                        <div class="card-body">
                            <p class="card-text">Inserir texto explicativo sobre o projeto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://github.com/Lnvictor/projeto-django" class="btn btn-outline-secondary" role="button">Repositório do Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src=".\img\logo_kim.png" />
                        <br />
                        <p class="text-center"><strong>Serviço removedor de arquivos antigos</strong></p>
                        <div class="card-body">
                            <p class="card-text">Inserir texto sobre o projeto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://github.com/Lnvictor/garbage_destroyer" class="btn btn-outline-secondary" role="button">Repositório do Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
