html {
    font-size: 14px;
    font-family: 'Rajdhani';
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Rajdhani';
}

body {
    margin-bottom: 60px;
    font-family: 'Rajdhani';
}

.navbar{
    background-color: white;
}

.nav-item > a {
    color: black;
    font-family: 'Rajdhani';
}

.nav-item:hover {
    background-color: cornflowerblue;
    border-radius: 5px;
}

.nav-item:hover > a{
    color: white;
}
